
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card alert-primary p-4">
                    <h1 class="p-4 m-0 text-center">SignUp Form</h1>
                    <div class="card-body">
                        <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
                            <div class="form-group">
                                 <label for="username"><strong>Username <sup>*</sup></strong></label>
                                 <input type="text" id="username" class="form-control" formControlName="username">
                                 <span *ngIf="username.touched && username.hasError('required')">
                                <sup>*</sup> This field is required.</span>
                                <ng-container *ngIf="username.dirty">
                                     
                                    <span *ngIf="username.hasError('pattern')">
                                        <sup>*</sup>
                                        required field doesn't allow numbers and special characters
                                    </span>
                                    <span *ngIf="username.hasError('minlength')">
                                        <sup>*</sup>
                                        required field minimum length must be {{username.errors?.['minlength'].requiredLength}} and actual length is {{username.errors?.['minlength'].actualLength}}
                                    </span>
                                    <span *ngIf="username.hasError('maxlength')">
                                        <sup>*</sup>
                                        required field maximum length must be {{username.errors?.['maxlength'].requiredLength}} and actual length is 
                                        {{username.errors?.['maxlength'].actualLength}}
                                    </span>
                                    <span *ngIf="username.hasError('nospaceErr')">
                                        <sup>*</sup> 
                                        <!-- {{f['username'].errors?.['nospaceErr']}} -->

                                        {{username.errors?.['nospaceErr']}}
                                    </span>
                                </ng-container>
                            </div> 
                            <div class="form-group">
                                 <label for="email"><strong>Email <sup>*</sup></strong></label>
                                 <input type="email" id="email" class="form-control" formControlName="email">
                                 <span *ngIf="f['email'].touched && f['email'].hasError('required')">
                                    <sup>*</sup> This is required field.
                                </span>
                                <ng-container *ngIf="f['email'].dirty">
                                    <span *ngIf="f['email'].hasError('pattern')">
                                        <sup>*</sup> Please enter valid email id
                                    </span>
                                    <div *ngIf="f['email'].pending">
                                        <div class="spinner-border text-primary spinner-border-sm" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        checking email
                                    </div>
                                    <span *ngIf="f['email'].hasError('emailExistErr')">
                                        <sup>*</sup>
                                        {{f['email'].errors?.['emailExistErr']}}
                                    </span>
                                    <span class="text-success" *ngIf="f['email'].valid">
                                        <small>&check;</small>
                                        Email is available.
                                    </span>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label for="password"><strong>Password</strong></label>
                                <input type="text" id="password" class="form-control" formControlName="password">
                                <span *ngIf="f['password'].touched && f['password'].hasError('required')">
                                    <sup>*</sup>
                                    This field is required.
                                </span>
                                <ng-container *ngIf="f['password'].dirty">
                                    <span *ngIf="f['password'].hasError('pattern')">
                                        <sup>*</sup>
                                        Password must have more than 8 character and should contain one capitalcase, number and specialcharacter.
                                    </span>

                                </ng-container>
                           </div>
                           <div class="form-group">
                            <label for="confirmpassword"><strong>Confirm Password</strong></label>
                            <input type="text" id="confirmpassword" class="form-control" formControlName="confirmpassword">
                            <span *ngIf="f['confirmpassword'].dirty && f['confirmpassword'].hasError('invalidconfpass')">
                                <sup>*</sup>
                                {{f['confirmpassword'].errors?.['invalidconfpass']}}
                            </span>
                           </div>
                            <div class="form-group">
                                <label for="empid"><strong>emp id : </strong></label>
                                <input type="text" id="empid" class="form-control" formControlName="empid" placeholder="E123">
                                <span *ngIf="f['empid'].touched && f['empid'].hasError('required')">
                                    <sup>*</sup>
                                    This field is required.
                                </span>
                                <ng-container *ngIf="f['empid'].dirty">
                                    <span *ngIf="f['empid'].hasError('invalidEmpId')">
                                        <sup>*</sup>
                                        {{f['empid'].errors?.['invalidEmpId']}}
                                    </span>
                                </ng-container>
                            </div>
                            <div formArrayName="skills">
                                <div class="row" *ngFor="let skill of skillsArray.controls; let i = index">
                                    <div class="col-10">
                                        <input type="text" class="form-control mb-3" [formControlName]="i">
                                        <span *ngIf="skill.touched && skill.hasError('required')">
                                            <sup>*</sup>
                                            This field is required.
                                        </span>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-danger alert-danger" type="button"
                                        (click)="onRemove(i)"
                                        *ngIf="i !== 0">
                                            <strong>Remove</strong>
                                        </button>
                                    </div>
                                </div>
                                <button class="btn btn-outline-success alert-success mb-3"
                                    (click)="onAddskill()" type="button"
                                    [disabled]="skillsArray.length >= 5"><strong>Add skill</strong>
                                </button>
                            </div>
                            <div class="form-group">
                                <label><strong>Gender :</strong> &nbsp;</label>
                                <label for="female">
                                    <input type="radio" formControlName="gender" value="female" name="gender" id="female">
                                    female&nbsp;
                                </label>
                                <label for="male">
                                    <input type="radio" formControlName="gender" value="male" name="gender" id="male">
                                    male&nbsp;
                                </label>
                                <label for="others">
                                    <input type="radio" formControlName="gender" value="others" name="gender" id="others">
                                    others&nbsp;
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Current Address</h4>
                                    <div formGroupName="currentaddress">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="country">
                                                <option value="select Country">Select Country</option>
                                                <option [value]="con.Country" *ngFor="let con of countries">
                                                    {{con.Country}}
                                                </option>
                                            </select>
                                            <!-- <span *ngIf="signupForm.get('currentaddress')?.get('country')?.touched && signupForm.get('currentaddress')?.get('country')?.hasError('required') ">
                                                <sup>*</sup>
                                                This field is required
                                            </span> -->
                                            <span *ngIf="f['currentaddress'].get('country')?.touched && f['currentaddress'].get('country')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select state" class="form-control" formControlName="state">
                                            <span *ngIf="f['currentaddress'].get('state')?.touched && f['currentaddress'].get('state')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select city" class="form-control" formControlName="city">
                                            <span *ngIf="f['currentaddress'].get('city')?.touched && f['currentaddress'].get('city')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select zipcode" class="form-control" formControlName="zipcode">
                                            <span *ngIf="f['currentaddress'].get('zipcode')?.touched && f['currentaddress'].get('zipcode')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Permanent Address</h4>
                                    <div formGroupName="permanentaddress">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="country">
                                                <option value="select Country">Select Country</option>
                                                <option [value]="con.Country" *ngFor="let con of countries">
                                                    {{con.Country}}
                                                </option>
                                            </select>
                                            <span *ngIf="f['permanentaddress'].get('country')?.touched && f['permanentaddress'].get('country')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select state" class="form-control" formControlName="state">
                                            <span *ngIf="f['permanentaddress'].get('state')?.touched && f['permanentaddress'].get('state')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select city" class="form-control" formControlName="city">
                                            <span *ngIf="f['permanentaddress'].get('city')?.touched && f['permanentaddress'].get('city')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="select zipcode" class="form-control" formControlName="zipcode">
                                            <span *ngIf="f['permanentaddress'].get('zipcode')?.touched && f['permanentaddress'].get('zipcode')?.hasError('required')">
                                                <sup>*</sup>
                                                This field is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sameadd">
                                    <input type="checkbox" id="sameadd" formControlName="isaddSame">
                                     permanent address is same as current address
                                </label>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-outline-success alert-success"
                                [disabled]="signupForm.invalid"><strong>SignUp</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
                <p>{{signupForm.value | json}}</p>
            </div>
        </div>
    </div>
